.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid #fff;
}
.LandingImg {
    display: flex;
    height: 550px;
    width: 600px;
}
#center-elements{
    display:block;
    float:left;
    margin:130px 10px 0 0;
    padding:5px 10px;
}
.center-elements-subtext{
    display:block;
    float:left;
    margin:0px 0px 0 0;
    padding: 10px 10px;
}

.space{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.button-fill{
    background-color: #bbb;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.productscreen-img{
    width: 400px;
    height: 400px;
}

.productscreen-content{
    padding: 20px;
}

.load-spin{
    height: 100px;
    width: 100px;
    margin:'auto';
    display: block;
}

.product-image{
    height: 163px;
    width: 163px;
}

.product-text {
    white-space:  normal; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.center-quantity {
    position: relative;
}

.center-quantity p {
    margin: 0;
    position: absolute;
    top: 50%;                         
    transform: translate(0, -50%) };
